---
import MainLayout from "@layouts/MainLayout.astro";
import { ButtonBack } from "@components/buttons/ButtonBack";
import { ProductDetailAction } from "@components/products/ProductDetailAction";
import { getProducts } from "src/api/apiWoocomerce";

const { slug } = Astro.params;

let allProducts = await getProducts();

const product = allProducts.find((product: any) => product.slug === slug);
if (!product) return Astro.redirect("/404");

const { name, description, short_description, tags, images, sku, categories } = product;

const parsed_description = description.replace(/<[^>]*>?/gm, "");
const parsed_short_description = short_description.replace(/<[^>]*>?/gm, "");
---

<MainLayout title={name} description={`Detalles del producto: ${name}`}>
  <div class="flex gap-10 w-fit mx-auto">
    <main class="px-4 sm:px-10 py-24 w-full max-w-5xl z-10">
      <div>
        <ButtonBack href="/productos" style="mb-4">
          Volver a productos
        </ButtonBack>
        <div class="flex flex-wrap items-center gap-4 my-4">
          <p class="font-medium">Categorías:</p>
          <div class="text-sm flex flex-wrap gap-2">
            {
              categories.map((category: any) => (
                <p class="px-2 border border-gray-300 rounded-md py-1">
                  {category.name}
                </p>
              ))
            }
          </div>
        </div>
        <div class="flex flex-col xl:flex-row xl:items-center gap-6">
          <img
            src={images[0].src}
            class="w-full max-w-[300px] aspect-square object-contain"
            alt={images[0].alt}
          />
          <div>
            <h1 class="font-bold text-3xl pb-4">{name}</h1>
            <p class="mb-6 sm:mb-10">{parsed_short_description}</p>
            <ProductDetailAction product={product} client:visible />
          </div>
        </div>
      </div>
      <div>
        <h2 class="pb-2 pt-4 text-2xl font-semibold">Descripción</h2>
        <p>{parsed_description}</p>
      </div>
      <div>
        <h2 class="pb-2 pt-4 text-2xl font-semibold">Información adicional</h2>
        <p>Código/NP: {sku}</p>
        <p>Marca: {tags[0]?.name}</p>
        <p>Modelo: {tags[1]?.name}</p>
      </div>
    </main>
  </div>
</MainLayout>
