---
interface Props {
  title: string;
  url: string;
  date: string;
  description: string;
  image?: string;
  alt?: string;
}

const { title, url, date, description, image } = Astro.props;
---

<a href={url} class="w-fit h-fit">
  <article
    class="w-full max-w-[360px] overflow-hidden rounded-lg shadow transition hover:shadow-lg">
    <img
    alt={`Foto sobre: ${title}`}
    src={image}
    class="h-120px w-full object-center object-cover"
    />
    <div class="bg-white p-4 sm:p-6 text-start">
      <h3 class="mt-0.5 text-lg text-gray-900 mb-4">{title}</h3>
      <time class="block text-xs text-gray-500">{date}</time>
      <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
        {description}
      </p>
    </div>
  </article>
</a>
