---
import MainLayout from "@layouts/MainLayout.astro";
import { ButtonBack } from "@components/buttons/ButtonBack";
import "@styles/detail-project-layout.css";
import { getProjects } from "@api/apiWordpress";

const { slug } = Astro.params;

let allProjects = await getProjects();

const project = allProjects.find((project: any) => project.slug === slug);
if (!project) return Astro.redirect("/404");

const { title, date, content } = project;

let formattedDate = new Date(date).toLocaleDateString("es-CL", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<MainLayout
  title={`${title.rendered}`}
  description={`Conoce más detalles del proyecto de Diprofire: ${title.rendered}`}
>
  <main class="max-w-3xl mx-auto p-4 sm:p-8">
    <div class="py-20">
      <div class="mb-10">
        <ButtonBack href="/proyectos" style="mb-10 no-underline text-gray-600">
          Volver a la lista de proyectos
        </ButtonBack>
        <h1 class="text-3xl font-bold mb-4">{title.rendered}</h1>
        <time>{formattedDate}</time>
      </div>
      <div set:html={content.rendered} />
    </div>
  </main>
</MainLayout>
